@font-face {
    font-family: HeaderFont;
    src: url(font/PT_Mono/PTMono-Regular.ttf);
  }

*{
    /* background-color: black; */
}

body{

	background: linear-gradient(to right, #000000, #000000 70%);
}

#header{
    font-family: HeaderFont;
	background: linear-gradient(#40E0D0, #FF8C00 ,#FF0080 );
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100%;
    background-repeat: repeat;
    /* border-image-source: linear-gradient(to left, #743ad5, #d53a9d); */
  
    
}

/*GRID*/
.grid-container {
  padding-left: 18%;

  display: inline-grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 25px;

}

.box{
    font-family: HeaderFont;
    /* background: linear-gradient(#40E0D0, #FF8C00 ,#FF0080 ); */
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 70px;
    height: 150px; 
    width: 150px;
    background-color: white;
    border: solid;
    border-radius: 20%;
}


.box-1:hover{
    border: 5px solid;
    border-image-source: linear-gradient(45deg,  #B3FFAB, #12FFF7);
    border-image-slice: 1;
}

.box-2:hover {
    border: 5px solid;
    border-image-source: linear-gradient(45deg,  #00c3ff, #ffff1c);
    border-image-slice: 1;
}

.box-3:hover {
    border: 5px solid;
    border-image-source: linear-gradient(45deg, #FDC830, #F37335);
    border-image-slice: 1;
}

.box-4:hover{
    border: 5px solid;
    border-image-source: linear-gradient(45deg, #F37335,#E94057, #8A2387);
    border-image-slice: 1;
}

.box-5:hover{
    border: 5px solid;
    border-image: conic-gradient(red, yellow, lime, aqua, blue, magenta, red) 1;
}