@font-face {
    font-family: HeaderFont;
    src: url(font/PT_Mono/PTMono-Regular.ttf);
  }
  :root {
    --shadow-color: #FF9E9E;
    --shadow-color-light: white;
  }

body{

	background: linear-gradient(to right, #000000, #000000 150%);
}

#header{
    font-family: HeaderFont;
	/* background: linear-gradient(#40E0D0, #FF8C00 ,#FF0080 );
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    

    color: white;
    animation: neon 3s infinite;
    
}
/* @keyframes neon {
    0% {
      text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
      0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
      0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 150px var(--shadow-color), 0 0 150px var(--shadow-color), 0 0 200px var(--shadow-color);
    }
    50% {
      text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
      0 0 5px var(--shadow-color-light), 0 0 15px var(--shadow-color-light), 0 0 25px var(--shadow-color-light),
      0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 60px var(--shadow-color), 0 0 80px var(--shadow-color), 0 0 110px var(--shadow-color), 0 0 210px var(--shadow-color);
    }
    150% {
      text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
      0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
      0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 150px var(--shadow-color), 0 0 150px var(--shadow-color), 0 0 200px var(--shadow-color);
    }
  } */
#particles-js{
    position: absolute;
    width: 150%;
    height: 300%;

}


/*GRID*/

.grid{
    -webkit-display: box;
    -moz-display: box;
    -ms-display: flexbox;
    display: flex;
    flex-wrap: wrap;
 
    padding:5px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5) inset, 0 1px 0 #fff;
    padding-left: 18%;
    display: inline-grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 25px;
  

}

.grid div{
    height: 150px; 
    width: 150px;
    position: relative;
    font-family: HeaderFont;
    text-align: center;
    font-size: 65px;
    height: 150px; 
    width: 150px;
    background-color: black;
    border: solid;
    border-radius: 10%;
}


/* .grid-container {
  padding-left: 18%;
  display: inline-grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 25px;

} */

/* 
 .box{
    position: relative;

    font-family: HeaderFont;
    text-align: center;
    font-size: 65px;
    height: 150px; 
    width: 150px;
    background-color: black;
    border: solid;
    border-radius: 20%;
} */

.box-1:hover{
    border: 5px solid;
    border-image-source: linear-gradient(45deg,  #B3FFAB, #12FFF7);
    border-image-slice: 1;
    background: linear-gradient(45deg,  #B3FFAB, #12FFF7);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.box-2:hover {
    border: 5px solid;
    border-image-source: linear-gradient(45deg,  #00c3ff, #ffff1c);
    border-image-slice: 1;
    background: linear-gradient(45deg,  #00c3ff, #ffff1c);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.box-3:hover {
    border: 5px solid;
    border-image-source: linear-gradient(45deg, #FDC830, #F37335);
    border-image-slice: 1;
    background: linear-gradient(45deg,  #FDC830, #F37335);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

.box-4:hover{
    border: 5px solid;
    border-image-source: linear-gradient(45deg, #F37335,#E94057, #8A2387);
    border-image-slice: 1;
    background: linear-gradient(45deg, #F37335,#E94057, #8A2387);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.box-5:hover{
    border: 5px solid;
    border-image: conic-gradient(red, yellow, lime, aqua, blue, magenta, red) 1;
    background: linear-gradient(45deg, red, yellow, lime, aqua, blue, magenta, red);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}