{% extends "tracker/base.html" %}
{% block content %}
          <svg viewBox="0 0 1280 720">
            <text text-anchor="left" x="5%" y="15%">welcome.</text>
          </svg>
          <div class="intro">
            <h2>Congrats on starting the 100DaysOfCode Challenge!</h2>
            <p>Here you will be able to track your progress each day. Keep a log of everything that you worked on and how many hours you worked.<br>
            After you have hit complete for a certain day that box will get filled in making it easy for you to see how many days you've worked!<br>
            The boxes will get a new gradient after each quarter of the challenge! Be sure to tweet your progress each day🐥<br><br>
            If you've never heard of 100DaysOfCode and you're interested in taking on the challenge click the button below for more details and rules!<br><br>
            <a href="https://www.100daysofcode.com/" type="button" class="btn btn-outline-light btn-lg">100DaysOfCode Official Site</a><br><br>
            This site was created as part of my 100DaysOfCode Journey. I figured this project could help me learn a lot of new things while helping me <br>
            track my progress and potentially help others as well✨ Follow me on Twitter for updates @michaelaladen <br><br>
            If you're ready to get started then create an account for FREE and start tracking your progress!<br><br>
            <a href="#" class="popup-button2" style="text-decoration: none;">Get Started!</a></p>
          </div>
{% endblock content %}