{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="{% static 'tracker/main.css' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="../../static/tracker/main.js"></script>
        <title>#100DaysOfCode Tracker</title>
    </head>
    <body>
        
        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="#">100DOC</a>
        </nav>
        <div id="particles-js"></div>
        <div id="header">
            <h1 class="text-center" style="font-size:100px;">#100Days0fC0de Tracker</h1>
           
        </div></br></br>
      
        <div class="grid-container">
            <div class="box box-1" id="day1">1</div>
            <div class="box box-1" id="day1">2</div>
            <div class="box box-1" id="day1">3</div>
            <div class="box box-1" id="day1">4</div>
            <div class="box box-1" id="day1">5</div>
            <div class="box box-1" id="day1">6</div>
            <div class="box box-1" id="day1">7</div>
            <div class="box box-1" id="day1">8</div>
            <div class="box box-1" id="day1">9</div>
            <div class="box box-1" id="day1">10</div>
            <div class="box box-1" id="day1">11</div>
            <div class="box box-1" id="day1">12</div>
            <div class="box box-1" id="day1">13</div>
            <div class="box box-1" id="day1">14</div>
            <div class="box box-1" id="day1">15</div>
            <div class="box box-1" id="day1">16</div>
            <div class="box box-1" id="day1">17</div>
            <div class="box box-1" id="day1">18</div>
            <div class="box box-1" id="day1">19</div>
            <div class="box box-1" id="day1">20</div>
            <div class="box box-1" id="day1">21</div>
            <div class="box box-1" id="day1">22</div>
            <div class="box box-1" id="day1">23</div>
            <div class="box box-1" id="day1">24</div>
            <div class="box box-1" id="day1">25</div>
            <div class="box box-2" id="day1">26</div>
            <div class="box box-2" id="day1">27</div>
            <div class="box box-2" id="day1">28</div>
            <div class="box box-2" id="day1">29</div>
            <div class="box box-2" id="day1">30</div>
            <div class="box box-2" id="day1">31</div>
            <div class="box box-2" id="day1">32</div>
            <div class="box box-2" id="day1">33</div>
            <div class="box box-2" id="day1">34</div>
            <div class="box box-2" id="day1">35</div>
            <div class="box box-2" id="day1">36</div>
            <div class="box box-2" id="day1">37</div>
            <div class="box box-2" id="day1">38</div>
            <div class="box box-2" id="day1">39</div>
            <div class="box box-2" id="day1">40</div>
            <div class="box box-2" id="day1">41</div>
            <div class="box box-2" id="day1">42</div>
            <div class="box box-2" id="day1">43</div>
            <div class="box box-2" id="day1">44</div>
            <div class="box box-2" id="day1">45</div>
            <div class="box box-2" id="day1">46</div>
            <div class="box box-2" id="day1">47</div>
            <div class="box box-2" id="day1">48</div>
            <div class="box box-2" id="day1">49</div>
            <div class="box box-2" id="day1">50</div>
            <div class="box box-3" id="day1">51</div>
            <div class="box box-3" id="day1">52</div>
            <div class="box box-3" id="day1">53</div>
            <div class="box box-3" id="day1">54</div>
            <div class="box box-3" id="day1">55</div>
            <div class="box box-3" id="day1">56</div>
            <div class="box box-3" id="day1">57</div>
            <div class="box box-3" id="day1">58</div>
            <div class="box box-3" id="day1">59</div>
            <div class="box box-3" id="day1">60</div>
            <div class="box box-3" id="day1">61</div>
            <div class="box box-3" id="day1">62</div>
            <div class="box box-3" id="day1">63</div>
            <div class="box box-3" id="day1">64</div>
            <div class="box box-3" id="day1">65</div>
            <div class="box box-3" id="day1">66</div>
            <div class="box box-3" id="day1">67</div>
            <div class="box box-3" id="day1">68</div>
            <div class="box box-3" id="day1">69</div>
            <div class="box box-3" id="day1">70</div>
            <div class="box box-3" id="day1">71</div>
            <div class="box box-3" id="day1">72</div>
            <div class="box box-3" id="day1">73</div>
            <div class="box box-3" id="day1">74</div>
            <div class="box box-3" id="day1">75</div>
            <div class="box box-4" id="day1">76</div>
            <div class="box box-4" id="day1">77</div>
            <div class="box box-4" id="day1">78</div>
            <div class="box box-4" id="day1">79</div>
            <div class="box box-4" id="day1">80</div>
            <div class="box box-4" id="day1">81</div>
            <div class="box box-4" id="day1">82</div>
            <div class="box box-4" id="day1">83</div>
            <div class="box box-4" id="day1">84</div>
            <div class="box box-4" id="day1">85</div>
            <div class="box box-4" id="day1">86</div>
            <div class="box box-4" id="day1">87</div>
            <div class="box box-4" id="day1">88</div>
            <div class="box box-4" id="day1">89</div>
            <div class="box box-4" id="day1">90</div>
            <div class="box box-4" id="day1">91</div>
            <div class="box box-4" id="day1">92</div>
            <div class="box box-4" id="day1">93</div>
            <div class="box box-4" id="day1">94</div>
            <div class="box box-4" id="day1">95</div>
            <div class="box box-4" id="day1">96</div>
            <div class="box box-4" id="day1">97</div>
            <div class="box box-4" id="day1">98</div>
            <div class="box box-4" id="day1">99</div>
            <div class="box box-5" id="day1">100!</div>
        </div>
  
        

    </body>
    <!--particles js file-->
    <script type="text/javascript" src="{% static 'tracker/js/particles.min.js' %}"></script>    
    <script type="text/javascript" src="{% static 'tracker/js/app.js' %}"></script> 
</html>
